body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2083 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:71px;
}
#u2084 {
  position:absolute;
  left:2px;
  top:28px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2085 {
  position:absolute;
  left:478px;
  top:25px;
  width:325px;
  height:21px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2086 {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  white-space:nowrap;
}
#u2087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2087 {
  position:absolute;
  left:93px;
  top:24px;
  width:25px;
  height:25px;
}
#u2088 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:25px;
}
#u2089 {
  position:absolute;
  left:51px;
  top:24px;
  width:23px;
  height:25px;
}
#u2090 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u2091 {
  position:absolute;
  left:823px;
  top:21px;
  width:83px;
  height:30px;
}
#u2092 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u2093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u2093 {
  position:absolute;
  left:915px;
  top:21px;
  width:83px;
  height:30px;
}
#u2094 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u2095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u2095 {
  position:absolute;
  left:1007px;
  top:21px;
  width:83px;
  height:30px;
}
#u2096 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u2097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u2097 {
  position:absolute;
  left:1099px;
  top:21px;
  width:83px;
  height:30px;
}
#u2098 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u2099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u2099 {
  position:absolute;
  left:1191px;
  top:21px;
  width:83px;
  height:30px;
}
#u2100 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u2099_ann {
  position:absolute;
  left:1267px;
  top:17px;
  width:1px;
  height:1px;
}
#u2101 {
  position:absolute;
  left:281px;
  top:158px;
  width:127px;
  height:30px;
}
#u2101_input {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2101_input:disabled {
  color:grayText;
}
#u2102 {
  position:absolute;
  left:489px;
  top:158px;
  width:104px;
  height:30px;
}
#u2102_input {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2102_input:disabled {
  color:grayText;
}
#u2103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2103 {
  position:absolute;
  left:418px;
  top:165px;
  width:71px;
  height:17px;
}
#u2104 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2105 {
  position:absolute;
  left:210px;
  top:164px;
  width:71px;
  height:17px;
}
#u2106 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2107 {
  position:absolute;
  left:785px;
  top:158px;
  width:167px;
  height:31px;
}
#u2107_input {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u2108 {
  position:absolute;
  left:965px;
  top:162px;
  width:56px;
  height:24px;
  text-align:center;
}
#u2109 {
  position:absolute;
  left:0px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u2110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u2110 {
  position:absolute;
  left:1028px;
  top:162px;
  width:56px;
  height:24px;
  text-align:center;
}
#u2111 {
  position:absolute;
  left:0px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u2113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2113 {
  position:absolute;
  left:28px;
  top:458px;
  width:143px;
  height:35px;
}
#u2114 {
  position:absolute;
  left:2px;
  top:10px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2115 {
  position:absolute;
  left:28px;
  top:383px;
  width:143px;
  height:35px;
}
#u2116 {
  position:absolute;
  left:2px;
  top:10px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2117 {
  position:absolute;
  left:28px;
  top:308px;
  width:143px;
  height:35px;
}
#u2118 {
  position:absolute;
  left:2px;
  top:10px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2119 {
  position:absolute;
  left:28px;
  top:233px;
  width:143px;
  height:35px;
}
#u2120 {
  position:absolute;
  left:2px;
  top:10px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2121 {
  position:absolute;
  left:28px;
  top:158px;
  width:143px;
  height:35px;
}
#u2122 {
  position:absolute;
  left:2px;
  top:10px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2123 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2124 {
  position:absolute;
  left:88px;
  top:166px;
  width:49px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2125 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:21px;
}
#u2126 {
  position:absolute;
  left:45px;
  top:165px;
  width:24px;
  height:20px;
}
#u2127 {
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2128 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2129 {
  position:absolute;
  left:88px;
  top:241px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2130 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:21px;
}
#u2131 {
  position:absolute;
  left:45px;
  top:240px;
  width:24px;
  height:20px;
}
#u2132 {
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2133 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2134 {
  position:absolute;
  left:88px;
  top:391px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2135 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:21px;
}
#u2136 {
  position:absolute;
  left:45px;
  top:390px;
  width:24px;
  height:20px;
}
#u2137 {
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2138 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2139 {
  position:absolute;
  left:88px;
  top:466px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2140 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:21px;
}
#u2141 {
  position:absolute;
  left:45px;
  top:465px;
  width:24px;
  height:20px;
}
#u2142 {
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2143 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2144 {
  position:absolute;
  left:88px;
  top:316px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2145 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:21px;
}
#u2146 {
  position:absolute;
  left:45px;
  top:315px;
  width:24px;
  height:20px;
}
#u2147 {
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2148 {
  position:absolute;
  left:210px;
  top:211px;
  width:1055px;
  height:658px;
}
#u2148_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1055px;
  height:658px;
}
#u2149 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u2150 {
  position:absolute;
  left:954px;
  top:916px;
  width:33px;
  height:20px;
  text-align:center;
}
#u2150_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u2150.selected {
}
#u2151 {
  position:absolute;
  left:0px;
  top:2px;
  width:33px;
  word-wrap:break-word;
}
#u2152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u2152 {
  position:absolute;
  left:999px;
  top:916px;
  width:33px;
  height:20px;
  text-align:center;
}
#u2152_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u2152.selected {
}
#u2153 {
  position:absolute;
  left:0px;
  top:2px;
  width:33px;
  word-wrap:break-word;
}
#u2154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u2154 {
  position:absolute;
  left:909px;
  top:916px;
  width:33px;
  height:20px;
  text-align:center;
}
#u2155 {
  position:absolute;
  left:0px;
  top:2px;
  width:33px;
  word-wrap:break-word;
}
#u2156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u2156 {
  position:absolute;
  left:879px;
  top:916px;
  width:33px;
  height:20px;
  text-align:center;
}
#u2157 {
  position:absolute;
  left:0px;
  top:2px;
  width:33px;
  word-wrap:break-word;
}
#u2158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u2158 {
  position:absolute;
  left:1209px;
  top:916px;
  width:33px;
  height:20px;
  text-align:center;
}
#u2159 {
  position:absolute;
  left:0px;
  top:2px;
  width:33px;
  word-wrap:break-word;
}
#u2160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u2160 {
  position:absolute;
  left:1179px;
  top:916px;
  width:33px;
  height:20px;
  text-align:center;
}
#u2161 {
  position:absolute;
  left:0px;
  top:2px;
  width:33px;
  word-wrap:break-word;
}
#u2162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u2162 {
  position:absolute;
  left:1044px;
  top:916px;
  width:33px;
  height:20px;
  text-align:center;
}
#u2162_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u2162.selected {
}
#u2163 {
  position:absolute;
  left:0px;
  top:2px;
  width:33px;
  word-wrap:break-word;
}
#u2164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u2164 {
  position:absolute;
  left:1134px;
  top:916px;
  width:33px;
  height:20px;
  text-align:center;
}
#u2165 {
  position:absolute;
  left:0px;
  top:2px;
  width:33px;
  word-wrap:break-word;
}
#u2166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u2166 {
  position:absolute;
  left:1089px;
  top:916px;
  width:33px;
  height:20px;
  text-align:center;
}
#u2167 {
  position:absolute;
  left:0px;
  top:2px;
  width:33px;
  word-wrap:break-word;
}
#u2168 {
  position:absolute;
  left:680px;
  top:158px;
  width:95px;
  height:30px;
}
#u2168_input {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2168_input:disabled {
  color:grayText;
}
#u2169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2169 {
  position:absolute;
  left:609px;
  top:165px;
  width:71px;
  height:17px;
}
#u2170 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2171_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:50px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2171 {
  position:absolute;
  left:210px;
  top:90px;
  width:232px;
  height:50px;
}
#u2172 {
  position:absolute;
  left:2px;
  top:10px;
  width:228px;
  word-wrap:break-word;
}
#u2173_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:50px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2173 {
  position:absolute;
  left:490px;
  top:90px;
  width:232px;
  height:50px;
}
#u2174 {
  position:absolute;
  left:2px;
  top:10px;
  width:228px;
  word-wrap:break-word;
}
#u2175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:50px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2175 {
  position:absolute;
  left:766px;
  top:90px;
  width:232px;
  height:50px;
}
#u2176 {
  position:absolute;
  left:2px;
  top:10px;
  width:228px;
  word-wrap:break-word;
}
#u2177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:50px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2177 {
  position:absolute;
  left:1037px;
  top:90px;
  width:232px;
  height:50px;
}
#u2178 {
  position:absolute;
  left:2px;
  top:10px;
  width:228px;
  word-wrap:break-word;
}
